body{
    box-sizing: border-box;
}
#div1{
    background-color: skyblue;
    width:100%;
    /* height:600px; */
    height:auto;
}
.holiday{
    text-align: center;
    color:white;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 52px;
    margin-top: 20px;
    text-shadow: 0px 10px 8px white;
}
.pack2{
    border-left: 1px solid skyblue;
}
nav{
    width:70%;
}
.div2{
    display: flex;
    justify-content: center;
}
#row1{
     width:75%;
    height:320px; 
    margin:-5px 0px 0px 160px;
    border:12px solid white;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color:black;
}
#img-cont h4,h6{
    padding:10px 10px 0px 20px;
}
.div4{
    width:100%;
    height: 40px;
    background-color:lightseagreen;
}
.hh{
    border-bottom: 2px dashed black;
    margin-right: 50px;
    margin-left: 20px;
}
.h2{
    margin-top: 5px;
}
img{
    width: 100%;
    border:6px solid gray;
    text-align: center;
}
#div3{
    text-align: center;
    /* justify-content: center; */
    display: flex;
}
#first{
    font-family: Arial, Helvetica, sans-serif;
}
#second{
    font-family: Arial, Helvetica, sans-serif;
    
}
/* #second,h2{
    width:30%;
} */
.div6{
    width:100%;
    /* height:350px; */
    height:auto;
    background-color: skyblue;
}
.coll{
    box-shadow: 10px 10px 10px lightseagreen;
    text-align: center;
    width:300px;
    /* margin: 20px 60px 0px 110px; */
}

/* mobile application */
@media only screen and (max-width:600px){
    #row1{
        width:100%;
       height:360px; 
       /* margin:-5px 0px 0px -40px; */
       margin:0px;
       border:12px solid white;
       border-radius: 10px;
       background-repeat: no-repeat;
       background-position: center;
       background-size: cover;
       color:black;
   }
   .pack2{
    border-left: none;
    border-top: 1px solid skyblue;
}
#div3{
    text-align: center;
    justify-content: center;
    display: flex;
}
.holi1{
    /* margin-left: 50px; */
    /* text-align: center; */
    margin-top: 20px;
    font-size: 22px;
    text-align: center;
}

#img-cont h4,h6{
    padding:10px 10px 10px 10px;
}
.img-text{
    /* margin:160px 0px 0px -180px; */
    /* text-align: justify; */
    text-align: center;
    /* margin-left: 20px; */
    margin-top: 0px;
}

.div6{
    width:100%;
    /* height:680px; */
    height: auto;
    width:100%;
    background-color: skyblue;
}

.coll{
    box-shadow: 10px 10px 10px lightseagreen;
    width:250px;
    margin: 20px 60px 0px 60px;
}
.div6 h6{
    /* background-color: skyblue; */
    margin:-5px 0px 0px 0px;
    width:100%;
}
.tw{
    width: 50%;
}
.wifi{
    width: 50%;
}

}

/* ipad device */

@media only screen and (min-width:601px) and (max-width:900px){
  
    #row1{
        /* width:75%; */
       height:360px; 
       margin:0px;
       border:12px solid white;
       border-radius: 10px;
       background-repeat: no-repeat;
       background-position: center;
       background-size: cover;
       color:black;
   }
   .pack2{
    border-left: none;
    border-top: 1px solid skyblue;

}
   #div3{
    display: flex;
    justify-content: center;
    display: flex;
   }
   img{
    /* width:210px;
    height:160px;
    border:6px solid gray; */
    /* margin-left: -60px; */
    margin:0px;
    
}
#div3{
    text-align: center;
    justify-content: center;
}
.holi1{
    margin-left: 50px;
    margin-top: 20px;
}
#row11{
    /* margin-left: -130px; */
    /* text-align: justify; */
    text-align: center;
}
#row11 h2{
    text-align: center;
    margin-left: 120px;
}
#img-cont h4,h6{
    padding:10px 10px 10px 10px;
}
#second{
    /* margin-top: 40px; */
    font-family: Arial, Helvetica, sans-serif
}
.img-text{
    text-align: center;
    margin-left: 20px;
    margin-top: 0px;
}
.img-text-btn{
    /* float:left !important;
    margin-top: 10px;
    margin-left: -40px; */
    margin-left: 100px;
}
.div6{
    width:100%;
    /* height:680px; */
    height:auto;
    width:100%;
    background-color: skyblue;
}

.coll{
    box-shadow: 10px 10px 10px lightseagreen;
    width:250px;
    margin: 20px 60px 0px 60px;
}
.div6 h6{
    /* background-color: skyblue; */
    margin:-5px 0px 0px 0px;
    color: white !important;
    width:100%;
}
.tw{
    margin-left:2px;
}

}


